
$font-path: "../assets/fonts";

@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  myred:      #E10707,
  myblack:    #000000

);



@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
